ul {  
    color:deepskyblue;
}

h3{
    text-align: center;
}

.blueColor{
    color:blue 
}
.centerAlign{
    text-align: center;
}
.bordered {
    border: 1px solid red;
}

#firstDiv{
    color:brown;
}

/*latest rule has highest priority*/

h2 {
color:cornflowerblue !important;
}

h2 {
    color:crimson
}

h2 { 
    display:inline;
}

.toBlock{
    display: block;
}